{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul class="list-unstyled">
        {% for article in news.articles %}
            <li>
                <a href="{{ article.url }}" target="_blank">
                    <img class="img-fluid size-news-startpage" src="{{ article.urlToImage }}" alt="Responsive image">
                </a>
                <div class="media-body">
                    <h5 class="mt-0 mb-1">{{ article.title }}</h5>
                    <p>
                        {{ article.content }}
                    </p>
                    <div>
                        <ul>
                            <li>
                                <strong>Url:</strong> {{ article.source.name }}
                            </li>
                            <li>
                                <strong>Published: </strong> {{ article.publishedAt | date("F jS \\a\\t g:ia") }}
                            </li>
                            <li>
                                <strong>Keywords: </strong>
                                {% for keyword in article.webEntities %}
                                    {{ keyword }},
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% dump(news.articles) %}
</div>
{% endblock %}
