{% extends 'base.html.twig' %}

{% block content %}

<div class="example-wrapper">
    <h1>WP News - Never Code Alone Open Source Projekt</h1>
    {% if news %}
        <ul class="">
            <li class="">
                <button class="" role="tab" data-toggle="tab" data-filter="all">
                    Alle
                </button>
            </li>
            {% for sourceDomain, specials in news.sourceDomains %}
                <li class="">
                    <a class="" role="tab" data-toggle="tab" data-filter="{{ sourceDomain|replace({'.': ''}) }}">
                        {{ sourceDomain }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="">
        {% if news.news %}
            {% for key,newsItem in news.news %}
                    <div class="{{ newsItem.url|replace({'.': ''})}} ">
                        <a href="{{ newsItem.link }}" target="_blank">
                            <img class="" src="/tmp/photos/{{ newsItem.image }}" alt="Responsive image">
                        </a>
                        <!-- Nav tabs -->
                        <ul class="">
                            <li class="">
                                <a class="" href="#info-{{ key }}" aria-controls="info-{{ key }}" role="tab" data-toggle="tab">
                                    Infos:
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="">
                            <div role="tabpanel" class="" id="info-{{ key }}">
                                <ul class="">
                                    <li class="">
                                        <strong>Title:</strong> {{ newsItem.title }}
                                    </li>
                                    <li class="">
                                        <strong>Published:</strong> {{ newsItem.pubDate | date("F jS \\a\\t g:ia") }}
                                    </li>
                                    <li class="">
                                        <strong>Url:</strong> {{ newsItem.url }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% else %}
            <p>Please come back later!!</p>
        {% endif %}
    </div>
</div>
{% endblock %}
