{% extends 'base.html.twig' %}

{% block content %}

<div class="">
    <h1>WP News - Never Code Alone Open Source Projekt</h1>
    {% if youTubeVideos %}
        <ul class="">
            <li class="">
                <button class="nav-link active filter-button" role="tab" data-toggle="tab" data-filter="all">
                    Alle ({{ youTubeVideos.videos|length }})
                </button>
            </li>
            <li class="">
                <a class="nav-link filter-button" role="tab" data-toggle="tab" data-filter="wasserball">
                    Wasserball ({{ youTubeVideos.counts.wasserball }})
                </a>
            </li>
            <li class="">
                <a class="" role="tab" data-toggle="tab" data-filter="waterpolo">
                    Waterpolo ({{ youTubeVideos.counts.waterpolo }})
                </a>
            </li>
        </ul>
    {% endif %}
    <div class="">
        {% if youTubeVideos %}
            {% for key,video in youTubeVideos.videos %}
                {% if video.id.videoId %}
                    {% set url = 'https://www.youtube.com/watch?v=%s'|format(video.id.videoId) %}
                    <div class="{{ video.keyword }}">
                        <div class="">
                            <a href="{{ url }}" target="_blank" rel="nofollow"><img src="{{ video['snippet']['thumbnails']['medium']['url'] }}" alt="{{ video['snippet']['title'] }}"></a>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="">
                            <li class="">
                                <a class="" href="#info-{{ key }}" aria-controls="info-{{ key }}" role="tab" data-toggle="tab">
                                    Infos:
                                </a>
                            </li>
                            {% if video['snippet']['description'] != '' %}
                                <li class="">
                                    <a class="" href="#description-{{ key }}" aria-controls="profile" role="tab" data-toggle="tab">Description:</a>
                                </li>
                            {% endif %}
                        </ul>
                        <!-- Tab panes -->
                        <div class="">
                            <div role="tabpanel" class="" id="info-{{ key }}">
                                <ul class="">
                                    <li class="">
                                        <strong>Title:</strong> {{ video['snippet']['title'] }}
                                    </li>
                                    <li class="">
                                        <strong>Channel:</strong> {{ video['snippet']['channelTitle'] }}
                                    </li>
                                    <li class="">
                                        <strong>Published: </strong> {{ video['snippet']['publishedAt'] | date("F jS \\a\\t g:ia") }}
                                    </li>
                                </ul>
                            </div>
                            {% if video['snippet']['description'] != '' %}
                                <div role="tabpanel" class="" id="description-{{ key }}">
                                    <ul class="">
                                        <li class="">
                                            {{ video['snippet']['description'] }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Please come back later!!</p>
        {% endif %}


    </div>
</div>
{% endblock %}
