{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3268576-56"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-3268576-56');
        </script>

        <title>Wasserball News - Never Code Alone Playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('tailwind') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}



        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.nevercodealone.de/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '7']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->


    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="">
                <a class="" href="https://github.com/nevercodealone/waterpolo" rel="nofollow">
                    <img src="{{ asset('img/Octocat.png') }}" alt="GitHub Waterpolo News Project" width="25px">
                    <span class="text-gray-50">/nevercodealone/waterpolo</span>
                </a>
                <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>
                <div class="" id="navbarCollapse">
                    <ul class="">
                        <li class="">
                            <a class="" href="{{ path('news') }}">News</a>
                        </li>
                        <li class="">
                            <a class="" href="{{ path('videos') }}">Videos</a>
                        </li>
                    </ul>
                    <form class="">
                        <a href="https://nevercodealone.de">
                            <img src="{{ asset('img/NCA-Logo-neu.png') }}" alt="Never Code Alone" height="30px">
                        </a>
                    </form>
                </div>
            </nav>
        </header>

        <!-- Begin page content -->
        <main role="main" class="">
            {% block content %}{% endblock %}
        </main>

        <footer class="">
            <div class="">
                <span class="">
                    <a href="https://nevercodealone.de/impressum/" target="_blank" rel="nofollow">
                        Impressum
                    </a>
                </span>
            </div>
        </footer>
        {% block javascripts %}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>

