{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3268576-56"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-3268576-56');
        </script>

        <title>Wasserball News - Never Code Alone Playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('tailwind') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}



        <!-- Matomo -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.nevercodealone.de/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '7']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->


    </head>
    <body>
{#        <header>#}
{#            <!-- Fixed navbar -->#}
{#            <nav class="">#}
{#                <a class="" href="https://github.com/nevercodealone/waterpolo" rel="nofollow">#}
{#                    <img src="{{ asset('img/Octocat.png') }}" alt="GitHub Waterpolo News Project" width="25px">#}
{#                    <span class="text-gray-50">/nevercodealone/waterpolo</span>#}
{#                </a>#}
{#                <button type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">#}
{#                    <span class=""></span>#}
{#                </button>#}
{#                <div class="" id="navbarCollapse">#}
{#                    <ul class="">#}
{#                        <li class="">#}
{#                            <a class="" href="{{ path('news') }}">News</a>#}
{#                        </li>#}
{#                        <li class="">#}
{#                            <a class="" href="{{ path('videos') }}">Videos</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <form class="">#}
{#                        <a href="https://nevercodealone.de">#}
{#                            <img src="{{ asset('img/NCA-Logo-neu.png') }}" alt="Never Code Alone" height="30px">#}
{#                        </a>#}
{#                    </form>#}
{#                </div>#}
{#            </nav>#}
{#        </header>#}
        <nav class="bg-gray-100">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between">
                    <div class="flex items-center space-x-4">
                        <!-- Logo -->
                        <div>
                            <a class="flex items-center py-4 px-3 text-gray-700 hover:text-gray-900" href="https://github.com/nevercodealone/waterpolo" rel="nofollow">
                                <img class="h-6 w-6 mr-1" src="{{ asset('img/Octocat.png') }}" alt="GitHub Waterpolo News Project">
                                <span class="hidden md:block font-bold">/nca/waterpolo</span>
                            </a>
                        </div>
                        <!-- Main nav -->
                        <div class="hidden md:flex items-center space-x-1">
                            <a href="#" class="py-4 px-3 text-gray-700 hover:text-gray-900">News</a>
                            <a href="#" class="py-4 px-3 text-gray-700 hover:text-gray-900">Videos</a>
                        </div>
                    </div>
                    <!-- Second nav -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a class="py-3 px-3" href="#">Blog</a>
                        <a class="py-3 px-3 bg-green-400 hover:bg-green-300 text-green-900 hover:text-green-800 rounded transition duration-300" href="#">Kontakt</a>
                        <a class="py-3 px-3" href="https://nevercodealone.de">
                            <img class="h-9 w-9" src="{{ asset('img/NCA-Logo-neu.png') }}" alt="Never Code Alone" height="30px">
                        </a>
                    </div>

                    <!-- Mobile button -->
                    <div class="md:hidden flex items-center px-4">
                        <button class="mobile-menu-button">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- mobile menu -->
            <div class="mobile-menu hidden md:hidden">
                <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">News</a>
                <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Videos</a>
            </div>
        </nav>
        <div class="py-32 text-center">
            <h1 class="font-extrabold text-6xl">WP News - Never Code Alone Open Source Projekt</h1>
        </div>
        <!-- Begin page content -->
        <main role="main" class="">
            {% block content %}{% endblock %}
        </main>

        <footer class="">
            <div class="">
                <span class="">
                    <a href="https://nevercodealone.de/impressum/" target="_blank" rel="nofollow">
                        Impressum
                    </a>
                </span>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>

